USE [master]
GO

PRINT '## DROP DATABASE #######################################################'
GO
IF DB_ID (N'NTierDemoDB_Jan2014') IS NOT NULL
BEGIN
    PRINT '   DROP DATABASE [NTierDemoDB_Jan2014]'
    EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'NTierDemoDB_Jan2014'
    ALTER DATABASE [NTierDemoDB_Jan2014] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [NTierDemoDB_Jan2014];
END

PRINT '## CREATE DATABASE #######################################################'
GO
DECLARE @sql NVARCHAR(1024), @path VARCHAR(256)

SELECT @path = PHYSICAL_NAME FROM sys.master_files WHERE database_id = DB_ID(N'master') AND TYPE_DESC = 'ROWS'
SET @path = REVERSE(RIGHT(REVERSE(@path),(LEN(@path)-CHARINDEX('\', REVERSE(@path),1))+1))

PRINT '   CREATE DATABASE [NTierDemoDB_Jan2014]'
PRINT '   '+@path+'NTierDemoDB_Jan2014.mdf'
PRINT '   '+@path+'NTierDemoDB_Jan2014_log.ldf'

SET @sql = 
N'CREATE DATABASE [NTierDemoDB_Jan2014] 
  CONTAINMENT = NONE 
  ON  PRIMARY 
  ( NAME = N''NTierDemoDB_Jan2014'', FILENAME = N'''+@path+N'NTierDemoDB_Jan2014.mdf'' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ) 
  LOG ON 
  ( NAME = N''NTierDemoDB_Jan2014_Log'', FILENAME = N'''+@path+N'NTierDemoDB_Jan2014_log.ldf'' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)'
EXEC sp_executesql @sql

ALTER DATABASE [NTierDemoDB_Jan2014] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NTierDemoDB_Jan2014].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NTierDemoDB_Jan2014]
GO


PRINT '## CREATE SCHEMA #######################################################'
GO
PRINT '   CREATE SCHEMA [pub]'
GO
CREATE SCHEMA [pub]
GO


PRINT '## CREATE TABLES #######################################################'
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

PRINT '   CREATE TABLE [pub].[Author]'
GO
CREATE TABLE [pub].[Author](
    [Id] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Username] [varchar](30) NOT NULL,
    [Password] [varchar](30) NOT NULL,
    [FirstName] [varchar](50) NOT NULL,
    [LastName] [varchar](50) NULL,
    [Description] [varchar](500) NULL,
    [CreatedDate] [datetime2] NOT NULL,
    [ModifiedDate] [datetime2] NOT NULL
) ON [PRIMARY]
GO

PRINT '   CREATE TABLE [pub].[Blog]'
GO
CREATE TABLE [pub].[Blog](
    [Id] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [OwnerId] [bigint] NOT NULL FOREIGN KEY REFERENCES [pub].[Author]([Id]),
    [Title] [varchar](100) NOT NULL,
    [Description] [varchar](500) NULL,
    [CreatedDate] [datetime2] NOT NULL,
    [ModifiedDate] [datetime2] NOT NULL
) ON [PRIMARY]
GO

PRINT '   CREATE TABLE [pub].[Post]'
GO
CREATE TABLE [pub].[Post](
    [Id] [bigint] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [BlogId] [bigint] NOT NULL FOREIGN KEY REFERENCES [pub].[Blog]([Id]),
    [Title] [varchar](100) NOT NULL,
    [Abstract] [varchar](200) NOT NULL,
    [Content] [varchar](max) NOT NULL,
    [CreatedDate] [datetime2] NOT NULL,
    [ModifiedDate] [datetime2] NOT NULL
) ON [PRIMARY]
GO


PRINT '## CREATE VIEWS #######################################################'
GO
PRINT '   CREATE VIEW [pub].[vPostInfo]'
GO
CREATE VIEW [pub].[vPostInfo] AS
    SELECT [Id],[BlogId],[Title],[Abstract],[CreatedDate],[ModifiedDate]
    FROM   [pub].[Post]
GO
 
 
PRINT '## CREATE DATA #######################################################'
GO
USE [master]
GO
USE NTierDemoDB_Jan2014
GO
SET NOCOUNT ON 
GO

PRINT '   INSERT AUTHORS'
GO
INSERT INTO [pub].[Author]([Username], [Password], [FirstName], [LastName], [Description], [CreatedDate], [ModifiedDate])
          SELECT 'thuber', '****', 'Thomas', 'Huber', 'MVP Client Development', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
UNION ALL SELECT 'nmueggler', '****', 'Nicolas', 'Mueggler', 'TFS Guru', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
UNION ALL SELECT 'anobbmann', '****', 'Andreas', 'Nobbmann', 'All about ORACLE BI', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
UNION ALL SELECT 'gschmutz', '****', 'Guido', 'Schmutz', 'Knows everything about SOA with Oracle', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
UNION ALL SELECT 'mmeyer', '****', 'Manuel', 'Meyer', '.NET, Azure, everything', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
GO

PRINT '   INSERT BLOGS'
GO
INSERT INTO [pub].[Blog]([Title], [Description],[CreatedDate],[ModifiedDate],[OwnerId])
          SELECT '.NET Development, Performance Management and the Windows Azure Cloud', NULL, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, (SELECT TOP 1 [Id] FROM [pub].[Author] WHERE [Username] = 'mmeyer')
UNION ALL SELECT 'User Interface Rocker', NULL, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, (SELECT TOP 1 [Id] FROM [pub].[Author] WHERE [Username] = 'thuber')
GO

PRINT '   INSERT BLOG POSTS'
--TODO
GO