_ReSharper*
bin
Bin
ClientBin
obj
tmp
App_Data
TestResults
packages
.vs
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.dll
*.pdb
*.resources
packages
*.BASE.*
*.REMOTE.*
*.LOCAL.*
StyleCop.Cache
*.csproj.DotSettings