<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!--<add name="AdventureWorksEntities" connectionString="metadata=res://*/AdventureWorksModel.csdl|res://*/AdventureWorksModel.ssdl|res://*/AdventureWorksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <services>
            <!--<service name="$safesolutionname$.Server.Domain.Service.AdventureWorksDataService">
                <endpoint address="" binding="wsHttpBinding" contract="$safesolutionname$.Common.Domain.Service.Contracts.IAdventureWorksDataService" bindingConfiguration="WS-AT" />
                <endpoint address="basic" binding="basicHttpBinding" contract="$safesolutionname$.Common.Domain.Service.Contracts.IAdventureWorksDataService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>-->
        </services>
        <bindings>
            <wsHttpBinding>
                <binding name="WS-AT" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceAuthorization impersonateCallerForAllOperations="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
