<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NTierEntityFramework.Client" version="1.8.0-alpha003" targetFramework="net45" />
  <package id="NTierEntityFramework.Common" version="1.8.0-alpha003" targetFramework="net45" />
  <package id="Remote.Linq" version="4.1.0" targetFramework="net45" />
</packages>