<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!-- local mdb file -->
        <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\NORTHWND.MDF;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <!-- sql server -->
        <!--<add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="IntegrationTest.Server.Domain.Service.NorthwindDataService">
                <endpoint address="" binding="wsHttpBinding" contract="IntegrationTest.Common.Domain.Service.Contracts.INorthwindDataService" bindingConfiguration="WS-AT" />
                <endpoint address="basic" binding="basicHttpBinding" contract="IntegrationTest.Common.Domain.Service.Contracts.INorthwindDataService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <bindings>
            <wsHttpBinding>
                <binding name="WS-AT" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceAuthorization impersonateCallerForAllOperations="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
            <!--<serviceActivations>
                <add relativeAddress="NorthwindDataService.svc" service="IntegrationTest.Server.Domain.Service.NorthwindDataService" />
            </serviceActivations>-->
        </serviceHostingEnvironment>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
