<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="NTierEntityFramework.Client" version="1.8.0-alpha001" targetFramework="net451" />
  <package id="NTierEntityFramework.Common" version="1.8.0-alpha001" targetFramework="net451" />
  <package id="Remote.Linq" version="4.1.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.should" version="1.1" targetFramework="net451" />
</packages>